* {
	box-sizing: border-box;
}

.wrapper {
	margin: auto;
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	flex: 0 2;
	align-items: center;
	background: url(../images/knuth_quote.png) no-repeat center fixed; 
    background-size: cover;
    height:40%;
}

.header-text {
	padding-left: 30px;
	flex: 1;
	color:white;
}

.nav {
	flex:2;
	height: 25px;
}

.nav ul {
	list-style-type:none;
	padding-top:0;
	margin: 0;
}

.nav li {
	display:inline-block;
}

/* 	CSS Sliding Underline Transition
	Much thanks to Brad S. Knutson!
	http://bradsknutson.com/blog/css-sliding-underline/
*/

.nav li:after {
	content: '';
	display: block;
	height:3px;
	width:0;
	background:transparent;
	transition: width .5s ease, background-color .5s ease;
}

.nav li:hover:after {
	width:100%;
	background:white;
}

.nav a {
	color: white;
	font-family: sans-serif;
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}


.main {
	flex:6;
}

.footer {
	flex: 1;
	height: 25px;
}